/*总容器样式*/
.wrapper {
    width: 100%;
    height: 100%;
}

/*头部样式*/
.header{
    height: 12vw;
    width: 100%;

    background-color: #17BAF9;
    color: white;
    font-size: 4.8vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

}

/*注册样式*/
.login {
    width: 100%;
    height: 10vw;
    margin-top: 14vw;
}
.login-panel {
    width: 100%;
}
.phone {
    width: 96%;
    padding: 2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #515151;
    font-weight: bold;
}
.password {
    width: 96%;
    padding: 2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #515151;
    font-weight: bold;
}
.ensurePassword {
    width: 96%;
    padding: 2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #515151;
    font-weight: bold;
}
.name {
    width: 96%;
    padding: 2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #515151;
    font-weight: bold;
}
.sex {
    width: 96%;
    padding: 2vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #515151;
    font-weight: bold;
}
.male {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.male i {
    color: #17BAF9;
}
.female {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.register {
    width: 96%;
    margin: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #38CA73;
    color: white;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 10px;

    cursor: pointer;
}

/*底部样式*/
.footer{
    width: 100%;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-top: 1px solid #656464;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #656464;
    padding-top: 2vw;
}
.footer p{
    font-size: 2.5vw;
}
.footer i{
    font-size: 4.5vw;
}